.section__container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #262626; /* var(--text-dark) */
  text-align: center;
}

.section__header span {
  color: #6a38c2; /* var(--primary-color) */
}

.section__description {
  max-width: 600px;
  margin-inline: auto;
  color: #737373; /* var(--text-light) */
  line-height: 1.75rem;
  text-align: center;
}

.job__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 2rem; /* Adjust spacing between grid items */
}

.job__card {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.job__card:hover {
  background-color: #6a38c2; /* var(--primary-color) */
}

.job__card__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.job__card img {
  max-width: 50px;
  padding: 10px;
  border-radius: 100%;
  background-color: #ffffff; /* var(--white) */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.job__card h5 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #262626; /* var(--text-dark) */
  transition: 0.3s;
}

.job__card h6 {
  font-size: 0.9rem;
  font-weight: 500;
  color: #737373; /* var(--text-light) */
  transition: 0.3s;
}

.job__card h4 {
  margin-block: 1rem 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #262626; /* var(--text-dark) */
  transition: 0.3s;
}

.job__card p {
  margin-bottom: 1rem;
  color: #737373; /* var(--text-light) */
  transition: 0.3s;
}

.job__card__footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.job__card__footer span {
  display: inline-block;
  padding: 4px 10px;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.3s;
}

.job__card__footer span:nth-child(1) {
  color: #4680e7;
  background-color: #e7edf8;
}

.job__card__footer span:nth-child(2) {
  color: #f04a0c;
  background-color: #f6efef;
}

.job__card__footer span:nth-child(3) {
  color: #3ac2ba;
  background-color: #f0fffe;
}

.job__card:hover :is(h5, h4) {
  color: #ffffff; /* var(--white) */
}

.job__card:hover :is(h6, p) {
  color: #e5e5e5; /* var(--extra-light) */
}

.job__card:hover .job__card__footer span {
  color: #ffffff; /* var(--white) */
  background-color: #6132b4; /* var(--primary-color-dark) */
}